# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
*.env

# Environment variables
.env
.env.*
*.secret
*.key

# Django
staticfiles/
media/
db.sqlite3
*.log

# IDE / Editors
.vscode/
.idea/
*.swp

