asgiref==3.11.0
boto3==1.42.5
botocore==1.42.5
CacheControl==0.14.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==5.2.9
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
geographiclib==2.1
geopy==2.4.1
gunicorn==23.0.0
idna==3.11
iso3166==2.1.1
jmespath==1.0.1
mapbox==0.18.1
msgpack==1.1.2
packaging==25.0
paypalrestsdk==1.13.3
pillow==12.0.0
polyline==2.0.4
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
reportlab==4.4.5
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.4
stripe==14.0.1
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.1
